$MAP_SPINNER_SIZE: 30px;

#map {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  user-select: none;
  background-color: #efefef;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

.map {

  &__loader {
    width: $MAP_SPINNER_SIZE;
    height: $MAP_SPINNER_SIZE;
    border: 4px solid rgb(110,125,135);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
    position: fixed;
    z-index: 1000;
    top: 350px;
    right: 19px;
    opacity: .58;
    display: none;
  }

}


::ng-deep {

  .basemap {
    width: 460px;
    right: 10px;
    top: 400px;
  }

  .legend {
    top: 80px;
    left: 10px;
    bottom: 20px;
    width: 500px;
  }

  .print {
    width: 200px;
    left: calc(50% - 100px);
    top: 150px;
  }

  .leaflet-control_custom {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(110,125,135);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-right: 10px !important;
    opacity: .58;

    &:hover {
      opacity: 1;
    }

  }

  .leaflet-control-zoom{
    border: none !important;
    box-shadow: none !important;

    a {
      width: 44px !important;
      height: 44px !important;
      background-color: rgb(110,125,135) !important;
      opacity: .58;

      &:first-child {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
      }

      &:last-child {
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
      }

      &:hover{
        width: 35px;
        height: 30px;
        opacity: 1;
      }

      &.leaflet-disabled {
        opacity: .3;
      }

    }

  }

  .leaflet-control {

    &__fullextent {
      background-image: url('/assets/map/map__fullextent.png');
      margin-top: 5px !important;
    }

    &__legend {
      background-image: url('/assets/map/map__legend.png');
      margin-top: 30px !important;
    }

    &__print {
      background-image: url('/assets/map/map__print.png');
      margin-top: 5px !important;
    }

    &__layers {
      background-image: url('/assets/map/map__layers.png');
      margin-top: 5px !important;
    }

  }

  .leaflet-control-graphicscale-inner .label {
    color: #000;
  }

}
