.layers {

  &__layer {
    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }

  }

}

.layer {

  &__info {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px;
    cursor: pointer;
    align-items: center;

    &:hover, &_active {
      background-color: #e0e0ea;
      border-radius: 2px;
      box-shadow: 0 0 5px #c7c2c2;
    }

  }

  &__symbol {

  }

  &__name {
    flex: 1;
    margin-left: 10px;
  }

  &__description {
    cursor: pointer;
    flex: 1;
    margin-left: 5px;
  }

}
