<p *ngIf="service.legendLoading">Загрузка...</p>
<p *ngIf="hasError()">Ошибка загрузки легенды для сервиса {{service.name}}</p>

<ng-container *ngIf="service.legendLoaded">
  <ul class="layers" @layersAnimation>
    <li class="layers__layer layer" *ngFor="let layer of service.layers">
      <div class="layer__info" [class.layer__info_active]="layer.checked" (click)="toggleLayer(layer)">
        <img class="layer__symbol" [alt]="layer.name" [src]="getImageIcon(layer)" [style.width.px]="getWidthForIcon(layer)" [style.height.px]="getHeightForIcon(layer)" />
        <span class="layer__name" (click)="layer.toggleLegendExpanded()">{{ layer.name }}</span>
      </div>
    </li>
  </ul>
</ng-container>
