.layers {

  &__layer {
    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }

  }

}

.layer {
  display: flex;
  flex-flow: column;

  &__info {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__description {
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
  }

  &__opacity {
    margin-left: auto;
  }

}

.legend {

  &__loader {
    font-size: 18px;
    vertical-align: middle;
  }

  &__warning {
    color: #e1a80f;
  }

  &__symbol {
    margin-left: 25px;
  }

}

.opacity {
  display: flex;
  flex-basis: 50px;
  flex-shrink: 0;
  align-items: center;

  &_active {
    color: #0275d8;
  }

  &__icon {
    cursor: pointer;
    user-select: none;
    margin-right: 5px;
  }

  &__value {
    font-size: 12px;
    vertical-align: middle;
  }

}

.opacity-slider {
  display: flex;
  flex-flow: column;

  &__close-icon {
    font-size: 12px;
    cursor: pointer;
    margin-left: auto;
    align-self: flex-start;
    opacity: .8;

    &:hover {
      opacity: 1;
    }

  }

  &__header {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 0 5px;
  }

  &__ui-elem {
    margin: 0 10px;
  }

}
