.legend {
  display: table;
  border-collapse:separate;
  border-spacing: 5px;
}

.layer {
  display: table-row;

  &__icon {
    display: table-cell;
    vertical-align: middle;
  }

  &__title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
  }

}
