.header {
  height: 64px;
  display: flex;
  background-color: #025391;
  margin-left: -15px;
  margin-right: -15px;

  &__title {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    z-index: 1050;
    top: 8px;
    left: 150px;
    font-size: 16px;
    line-height: 23px;

    @media(max-width: 900px) {
      font-size: 12px;
    }

    @media(max-width: 700px) {
      font-size: 10px;
    }

    @media(max-width: 600px) {
      display: none;
    }

  }

  &__logo-block {
    flex: 0 1 450px;
  }

  &__empty {
    background: linear-gradient(to right, #025391, #014d8c);
    flex: 1;
  }

  &__right-block {
    margin-left: auto;
    flex: 0 1 430px;
  }

}

.logo-block {
  background-image: url('/assets/header/header__logo_bg.png');
  position: relative;

  &__img {
    position: absolute;
    top: 2px;
    left: 30px;
  }

}

.right-block {
  background-image: url('/assets/header/header__right-block.png');
  display: flex;
  justify-content: flex-end;
  z-index: 1040;

  &__btn-group {
    height: 40px;
    margin-right: 25px;
    align-self: center;
  }

}

.btn-group {
  align-items: center;
  display: flex;

  &__btn {
    cursor: pointer;
  }

  &__divider {
    margin: 0 15px;
  }

  &__userPanel {
    display: flex;
    flex-flow: column;

    & span {
      font-size: 16px;
      color: #fff;
    }

    & form {
      padding-top: 5px;
    }

    & a {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
    }

  }

  &__user-name {
    font-size: 16px;
    color: #fff;
  }
}
